*,
header {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: heading;
  src: url(sansation_light.woff);
}

header,
footer {
  background-color: green;
  opacity: 0.6;
  text-align: center;
  color: white;
  height: 50px;
  width: 100%;
  padding: 15px 0 15px;
}

header {
  font-size: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

body {
  font-family: heading;
}
/*This is for the navigation bar at the top of the page with three buttons on it*/
.tabNavBar {
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
/*This is where the heading-wise content is displayed*/


.content  {
  text-align: left;
}

.content,
.contents .content1 {
  padding: 12px;
  box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2), 0px 10px 9px 0px rgba(0, 0, 0, 0.21);
}





.tabNavBar .links,
.tabNavBar,
.NavBar-content,
header,
footer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0px 2px 2px 0px rgba(0, 0, 0, 0.1);

}

.NavBar-content,
.content,
.content1,
.tabSideNavBar {
  margin: 8px;
}


table,
.content,
.content1,
.contents,
.headings,
.tabSideNavBar button,
.NavBar-content a,
.tabNavBar button {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.content{
  display: none;
}

.tabSideNavBar button,
.NavBar-content a,
.headings,
.tabNavBar button {
  background-color: inherit;
  opacity: inherit;
  padding: 14px;
  border: none;
  outline: none;
  text-align: justify;
}

.tabSideNavBar button,
.NavBar-content a,
.headings {
width: 100%;
}

.tabSideNavBar button,
.NavBar-content a,
.headings,
.tabNavBar button {
  color: green;
}

.tabSideNavBar button,
.NavBar-content a,
.tabNavBar button {
  font-size: 17px;
  cursor: pointer;
}
.tabSideNavBar button,
.tabNavBar button {
  transition: 0.12s;
}

/* What The below two rules do is,
It'll change the color of the button
when we keep the cursor on them/when a button is being clicked.
*/
.tabNavBar button:hover,
.NavBar-content a:hover,
.tabSideNavBar button:hover {
  background-color: #ddd;
}

.tabSideNavBar button.active,
.NavBar-content a.active,
.tabNavBar button.active {
  background-color: #ccc;
}

.container {
    display: inline-block;
    cursor: pointer;


}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #008000;
    opacity: 0.9;
    margin: 4.5px;
}

.NavBar-content a,
.bar1,
.bar2,
.bar3 {
  transition: 0.4s;
}


.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 5px);
    transform: rotate(-45deg) translate(-6px, 5px);
}

.change .bar2 {
	opacity: 0;
    margin: 5px 3px 5px;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Style the tab content */

.NavBar {
      position: relative;
      display: inline-block;
      width: auto;
      overflow: visible;

  }

  .NavBar-content {
    float: right;
    background-color: rgba(255,255,255,0.3);
    min-width: 250px;
    padding: 0;
    display: none;
    position: absolute;
    overflow: auto;
    z-index: 1;
    right: 3.5px;
  }

  .NavBar-content a {
      display: block;
      text-decoration: none;
}

  .NavBar a:hover {background-color: #f1f1f1}

  .show {display:block;}


th,
td {
  text-align: left;
  padding: 10px;
  margin-right: 10px;
}

ul,
ol {
  list-style: none;
}

ul>li::before {
  content: "•";
  color: green;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

ol {
  counter-reset: li
}

ol>li::before {
  content: counter(li);
  color: green;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

ol>li {
  counter-increment: li
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  bottom: 0;
  clear: both;
  height: 3em;
  position: fixed;
}

#hoverNav a {
  position: absolute;
  left: -100px;
  transition: 0.6s;
  padding: 15px;
  width: 110px;
  border-radius: 0 10px 10px 0;
}

#hoverNav a:hover {
  left: 0;
}

#fb {

  top: 200px;
  background: #3b5998;
  color: white;

}

#ln {
  top: 250px;
  background: #007bb5;
  color: white;
}

.loader {
  width: 100%;
  height: 5px;
  border: 1px solid #32CD32;
  border-radius: 3px;
  background-image:
  repeating-linear-gradient(
    45deg,
    #32CD32,
    #32CD32 11px,
    #eee 10px,
    #eee 20px /* determines size */
    );
    background-size: 28px 28px;
    animation: move .5s linear infinite;
  }

  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 28px 0;
    }
  }


::-webkit-scrollbar {
    width: 10px;
}



::-webkit-scrollbar-thumb {
  background-color: green;
  opacity: 0.6;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.content,
.contents .content1 {
padding: 12px;

}




@media only screen and (min-width: 1166px) {
  .content {
    width: 100%;

    max-height: 400px;
    overflow: auto;
  }
  .NavBar {
    visibility: hidden;
    display: none;
  }




  .contents {
    padding: 4px;
    box-shadow: 0 5px 14px 0 rgba(0, 0, 0, 0.2), 0px 10px 9px 0px rgba(0, 0, 0, 0.21);
    margin-top: 5px;
    bottom: 0;

  }



  .contents img {
    margin: 120px 90px;
    border: 2px;
    border-style: double;
    border-color: green;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 3px 10px 20px 4px rgba(0, 0, 0, 0.21);
  }

  .tabNavBar .links {
    margin: 0;
    width: 33.1%;
  }


  .tabSideNavBar,
  .contents .picture  {
    width: 30%;
    padding: 0;
    background-color: white;
    float: left;
  }



  /* Style the tab content */

  .content,
  .content1 {
    width: 68.3%;
    margin-left: 31%;
  }

  .contents .content1 {
    margin-bottom: 205px;
    margin-top: 100px;

  }


  .contents,
  .contents .content1,
  .main,
  .content {
    box-sizing: border-box;
  }



}

@media only screen and (max-width: 1166px) {



  .tabNavBar .links {
    margin: 0;
    width: 100%;

  }
  .tabSideNavBar{
    visibility: hidden;
    display: none;
  }

.contents {
  margin-top: 20px;
}

.main {
 margin-top: 1px;
}

.NavBar-content {
overflow-x: auto;
}

.contents,
.contents .content1,
.main {
  top: 2px;
  bottom: 0;

}

.contents .content1 {
  box-sizing: content-box;
  margin-bottom: 56px;
  margin-top: 25px;

}

.contents,
.main {
  box-sizing: border-box;
}


.main .content {
    margin-bottom: 56px;
}





}

@media only screen and (max-width: 1166px) and (orientation: portrait) {
  .contents img {
    margin-left: 25%;
    border: 2px;
    border-style: double;
    border-color: green;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 3px 10px 20px 4px rgba(0, 0, 0, 0.21);

  }
  .NavBar {
    margin-left: 80%;
  }

}
@media only screen and (max-width: 1166px) and (orientation: landscape) {
  .contents img {
    margin-left: 37%;
    border: 2px;
    border-style: double;
    border-color: green;
    border-radius: 200px;
    height: 200px;
    width: 200px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.4), 3px 10px 20px 4px rgba(0, 0, 0, 0.21);

  }

}
